{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            {% if products_in_basket %}
                <div class="col-lg-8 col-lg-offset-2">
                    <h3 class="text-center">Товары в корзине</h3>

                    <form method="post" action="" class="form-inline">{% csrf_token %}

                        <div class="form-group">
                            <label for="">Имя</label>
                            <input type="text" class="form-control" name="{{ form.name.html_name }}" value="{{ request.POST.name }}">
                            <span class="form-error">{{ form.name.errors }}</span>
                        </div>

                        <div class="form-group">
                            <label>Телефон</label>
                            <input type="text" class="form-control" name="{{ form.phone.html_name }}" value="{{ request.POST.phone }}">
                            <span class="form-error">{{ form.phone.errors }}</span>
                        </div>

                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="{{ form.email.html_name }}" value="{{ request.POST.email }}">
                            <span class="form-error">{{ form.email.errors }}</span>
                        </div>

                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th>Название товара</th>
                                    <th>Количество</th>
                                    <th>Цена за единицу</th>
                                    <th>Общая цена</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product_in_basket in products_in_basket %}
                                    <tr>
                                        <td>
                                           {{ product_in_basket.product.name }}
                                        </td>
                                        <td>
                                            <input type="number" class="product_in_basket_nmb" value="{{ product_in_basket.nmb }}"
                                                name="product_in_basket_{{ product_in_basket.id }}">
                                        </td>
                                        <td>
                                            <span class="product_in_basket_price_per_item">
                                                {{ product_in_basket.price_per_item }}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="product_in_basket_amount">
                                                {{ product_in_basket.amount }}
                                            </span>
                                        </td>
                                    </tr>

                                {% endfor %}

                            </tbody>
                        </table>

                        <div class="text-right">
                            <b>Итого:</b>  <span id="total_order_amount"></span> руб.
                        </div>
                        <hr>
                        <div class="text-right">
                            <button type="submit" class="btn btn-lg btn-primary">Заказать</button>
                        </div>
                    </form>



                </div>
            {% else %}
                <h3 class="text-center">В Вашей корзине нет товаров</h3>
            {% endif %}

        </div>
    </div>
{% endblock %}